<!DOCTYPE html>
<html>
  <head>
    <title>Testtt</title>
    {% load static %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="{% static 'boostrap.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'jquery-2.1.1.min.js' %}" type="application/javascript" ></script>
    <script src="{% static 'jquery.cookie.js' %}" type="application/javascript"></script>
    <script src="{% static 'location.js' %}" type="application/javascript"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:light&v1' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'recommend.css' %}">
  </head>

  <body>
    <h1 class="padded_left70">Card Recommendations.</h1>
    <div id="location" class="main_panel">
      <div id="info">
        <form id="loc_form" class="form-inline" role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Your Location</label>
            <input type="text" class="form-control" id="loc_input" placeholder="Location">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div id="current_store_container">You are shopping at: <span id="current_store"></span></div>
        <div id="nearest_merchants_list">
          <button id="nearest_toggle" type="button" class="btn btn-primary">Not where you are shopping?</button>
          <ul id="nearest_merchants"></ul>
        </div>

        <div id="user_cards_list">
          <button id="cards_toggle" type="button" class="btn btn-primary">Your cards</button>
          <ul id="user_cards"></ul>
        </div>

        <button id="recommend" type="button" class="btn btn-warning">Recommend a card</button>
      </div>

      <div id="map_container">
        <div id="map-canvas"></div>
      </div>
    </div>

    <div class="border_line"></div>

    <div id="recommendation" class="main_panel">
      <div id="recommend_text">
        <div>
          We recommend
        </div>
        <div class="padded_top30">
          <span id="recommended_card"></span>
        </div>
        <div class="padded_top30">
          Your rewards:
        </div>
        <div class="padded_top10">
          <span id="rewards"></span>
        </div>
      </div>

      <div id="other_options_container">
        <button id="other_options_button" type="button" class="btn btn-warning">See your other options</button>
        <button id="start_over_button" type="button" class="btn btn-warning">Start Over</button>
      </div>
    </div>

    <div class="border_line"></div>

    <div id="other_options" class="main_panel">
      <h3>Your Cards</h3>
      <table class="table table-hover" id="card_table">
        <thead class="head_row">
          <tr>
            <th>Card</th>
            <th>Reward</th>
          </tr>
        </thead>
      </table>
    </div>

  </body>
</html>
